.button {
  height: 50px;
  padding: 10px 32px;
  border: 0;
  border-radius: 4px;
  text-align: center;
  color: var(--white-color);
  background-color: var(--accent-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  transition: background-color var(--tra);

  &:hover,
  &:focus {
    background-color: var(--button-active-color);
  }
}
