.contacts-link {
  font-weight: 400;
  line-height: 1.14;
  font-size: 14px;
  text-decoration: none;
  transition: color var(--tra);

  @media screen and (min-width: 768px) {
    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
}
