.container--footer {
  display: flex;
  gap: 70px;
  align-items: baseline;
}

.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--secondary-background-color);

  &__logo {
    color: var(--white-color);
    margin-bottom: 20px;
  }

  &__subtitle {
    margin-bottom: 20px;
    color: var(--white-color);
    font-family: Roboto;
    font-size: 14px;
    line-height: 1.17;
    text-transform: uppercase;
  }
}

.address__item:not(:first-child) {
  margin-top: 9px;
}

.contacts-link--address {
  color: var(--white-color);
}

.contacts-link--footer {
  color: var(--secondary-text-color);
}

.social {
  display: flex;
  gap: 10px;
}

.social__link--footer {
  color: var(--white-color);
  background-color: var(--background-footer-icon-color);
  transition: background-color var(--tra);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

.page-footer__subscription {
  margin-left: 23px;
}

.page-footer__form {
  display: flex;
  gap: 12px;
}

.page-footer__input {
  width: 358px;
  height: 50px;
  outline: transparent;
  border-width: 1px;
  border-style: solid;
  border-color: var(--footer-field-border-color);
  border-radius: 4px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  background-color: var(--secondary-background-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: border-color var(--tra);

  &::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
  }

  &:focus {
    border-color: var(--accent-color);
  }
}

.page-footer__send {
  position: relative;
}

.button--footer {
  display: block;
  min-width: 200px;
  padding: 10px 28px;
  text-align: left;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.page-footer__icon-send {
  position: absolute;
  right: 28px;
  top: 50%;
  transform: translateY(-50%);
  fill: var(--white-color);
}
