.container--header {
  @media screen and (min-width: 768px) {
    display: flex;
    gap: 84px;
    align-items: center;
  }
  @media screen and (min-width: 1200px) {
    gap: 93px;
  }
}

.page-header {
  position: relative;
  @media screen and (max-width: 767px) {
    height: 60px;
    padding-top: 16px;
    padding-bottom: 16px;
  }
  border-bottom: 1px solid var(--header-border-color);

  &__logo {
    color: var(--title-text-color);
  }

  &__nav {
    display: flex;
    align-items: center;
  }
}

.page-header__wrap {
  @media screen and (min-width: 768px) {
    display: flex;
    gap: 83px;
    align-items: center;
  }
  @media screen and (min-width: 1200px) {
    gap: 315px;
  }
}

.menu-toggle {
  position: absolute;
  top: 10px;
  right: 8px;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu-toggle .icon-cross {
  display: none;
}

.menu-toggle.js-open-menu .icon-cross {
  display: block;
}

.menu-toggle.js-open-menu .icon-menu {
  display: none;
}

.menu-icon {
  fill: currentColor;
}

.site-nav {
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    gap: 50px;
  }
}

.site-nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color var(--tra);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.site-nav__link--current {
  position: relative;
  color: var(--accent-color);

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    transform: scaleX(1.1);
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
  }
}

.contacts {
  @media screen and (min-width: 1200px) {
    display: flex;
    gap: 40px;
    align-items: center;
  }
}

.contacts__item:not(:last-child) {
  @media screen and (max-width: 767px) {
    margin-bottom: 32px;
  }
  @media screen and (max-width: 1199px) {
    margin-bottom: 10px;
  }
}

.contacts-link--header {
  display: flex;
  align-items: center;
  min-width: 138px;
  color: var(--primary-text-color);
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
  @media screen and (min-width: 768px) {
    font-size: ;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.contacts__icon {
  margin-right: 8px;
  fill: currentColor;
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.mobile-soc {
  @media screen and (min-width: 768px) {
    display: none;
  }
  display: flex;
  gap: 10px;

  &__item:not(:last-child) {
    border-right: 1px solid var(--input-border-color);
  }

  &__link {
    padding-right: 10px;
    color: var(--accent-color);
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
  }
}
