.filter {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;

  &__item:not(:last-child) {
    margin-right: 8px;
  }
}

.button--filter {
  min-width: 73px;
  height: 38px;
  padding: 6px 22px;
  font-weight: 500;
  line-height: 1.63;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  background-color: var(--ashen-background-color);
  transition: color var(--tra), background-color var(--tra),
    box-shadow var(--tra);

  &:hover,
  &:focus {
    color: var(--white-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;

  &__thumb {
    position: relative;
    overflow: hidden;
  }

  &__text {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.56;
    color: var(--white-color);
  }

  &__wrapper {
    padding: 20px 24px;
    border-right: 1px solid var(--cards-border-color);
    border-bottom: 1px solid var(--cards-border-color);
    border-left: 1px solid var(--cards-border-color);
  }

  &__subtitle {
    margin-bottom: 4px;
    color: var(--title-text-color);
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
  }

  &__description {
    color: var(--primary-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
  }
}

.portfolio__link {
  display: block;
  text-decoration: none;
  transition: box-shadow var(--tra);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.portfolio__overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background-color: var(--background-overlay-portfolio-color);
  transform: translateY(100%);
  transition: transform var(--tra);

  .portfolio__link:hover &,
  .portfolio__link:focus & {
    transform: translateY(0);
  }
}
